* {
	box-sizing: border-box;
	top: 0px;
}
/*base styles*/
body {
	font-family: Arial, Verdana, sans-serif;
}
h1 {
	margin-bottom: 15px;
	text-align: center;
}
/*desktop view*/
@media (min-width: 992px) {
	.col-lg {
		float: left;
		width: 33.33%;
	}
}

/*tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2 {
		float: left;
	}
	.col-md-1 {
		width: 50%;
	}
	.col-md-2 {
		width: 100%;
	}
}

/*mobile view*/
@media (max-width: 767px) {
	.col-sm {
		float: left;
		width: 100%;
	}
}
.item {
	margin: 10px;
	position: relative;
	background-color: #FFE4E1;
}
p {
	text-align: left;
}
.title{
    border: 1px solid black;
    font-size: 140%;
    position: relative;
    float: right;
    text-align: center;
    border: 1px solid black;
    margin-top: 0px;
    padding-left:50px;
    padding-right: 50px;
}

.text{
    border: 1px solid black;    
    padding: 12px;
    padding-top: 30px;
}

#title1{
    background-color: #FCFFE1;
}

#title2{
    background-color: #CDEBD0;
    color: white;
}

#title3{
    background-color: #E4E1FF;
    color: black;
}
